# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.python-version
.venv/

# Mypy cache
.mypy_cache/

# IDE files
*.swp
*.swo
.vscode/

# Build / packaging artifacts
*.egg-info/
dist/
build/

# Logs
*.log
